.card {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.card_promo {
    box-shadow: 0px 10px 20px -14px red !important;
}


.barre {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 198px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c89b3f;
    content: "";
    box-shadow: 0 20px 40px -14px #c89b3f;
}

.card-text, .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}


.custom-card-height {
    min-height: 400px;
}

.custom-img-height {
    min-height: 150px !important;
}

.promo {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    /*height: 45px;*/
    border-radius: 0.25rem;
    /*text-decoration : underline;*/
    font-size: 18px;
    font-weight: 700;
    color: red;
    background-color: #ffe5e5;
    border: 1px solid rgba(0,0,0,.125);
}

.detailPromo {
    background-color: #ffe5e5;
    font-size: 9px;
    font-style: italic;
    color: red;
    text-align:left;
    border-radius : 10px;
}

.nomPromo {
    width: 100%;
    font-weight: bold;
}

.detailPromo{
    font-weight : lighter
}

.categorie_libelle {
    margin: 0
}

    .categorie_libelle span {
        background-color:#fcf2de;
        font-weight: 500;
    }

.prix {
    justify-content: right;
    color: #c89B3f;
}


.prix_promotion {
    justify-content: right;
    color: #c89B3f;
}