body {
    font-family: 'Muli', Arial, sans-serif;
}

h1, h2, h3, h6 {
    font-family: 'Playfair Display', serif;
}

.logoMercadona{
    height:35px;
    width : 200px;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /*color: #fff;*/
    color: #00ab61 !important;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.toast {
    position: fixed;
    bottom: 15px;
    right: 15px;
    min-width: 300px;
    min-height: 5rem;
    border : solid 2px red;
}
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}

    h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 1px;
        background: #00ab61;
        left: 0;
        right: 0;
        bottom: -20px;
    }

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

    .carousel .item {
        color: #747d89;
        min-height: 325px;
        text-align: center;
        overflow: hidden;
    }

    .carousel .thumb-wrapper {
        padding: 25px 15px;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

    .carousel .item .img-box {
        height: 120px;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    .carousel .item img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .carousel .item h4 {
        font-size: 18px;
    }

    .carousel .item h4, .carousel .item p, .carousel .item ul {
        margin-bottom: 5px;
    }

    .carousel .thumb-content .btn {
        color: #7ac400;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #7ac400;
        padding: 6px 14px;
        margin-top: 5px;
        line-height: 16px;
        border-radius: 20px;
    }

        .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
            color: #fff;
            background: #7ac400;
            box-shadow: none;
        }

        .carousel .thumb-content .btn i {
            font-size: 14px;
            font-weight: bold;
            margin-left: 5px;
        }

    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }

        .carousel .item-price strike {
            opacity: 0.7;
            margin-right: 5px;
        }

.carousel-control-prev, .carousel-control-next {
    height: 44px;
    width: 40px;
    background: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }

    .carousel-control-prev i, .carousel-control-next i {
        font-size: 36px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }

    .carousel-control-prev i {
        margin-left: -2px;
    }

    .carousel-control-next i {
        margin-right: -4px;
    }

.carousel-indicators {
    bottom: -50px;
}

    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }

    .carousel-indicators li {
        background: rgba(0, 0, 0, 0.2);
    }

        .carousel-indicators li.active {
            background: rgba(0, 0, 0, 0.6);
        }

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

    .carousel .wish-icon .fa-heart {
        color: #ff6161;
    }

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}
.promo {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    /*height: 45px;*/
    border-radius: 0.25rem;
    /*text-decoration : underline;*/
    font-size: 18px;
    font-weight: 700;
    color: red;
    background-color: #ffe5e5;
    border: 1px solid rgba(0,0,0,.125);
}

.displayPromo {
    background-size: cover;
    background-position: center center;
    /*background-image: url("https://media.istockphoto.com/id/152535651/fr/photo/cubes-de-rouge-avec-signe-de-pour-cent.jpg?s=612x612&w=0&k=20&c=3Mw972COwRfV4ZzYyDVrS7Z7bICnoA7LzV64ckPX32M=");*/
}

.infoEntreprise {
    padding-left: 2%;
    padding-right: 2%;
    margin-left:10%;
    margin-right:10%;

    border: 1px solid #04593C;
}

    .infoEntreprise h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 1px;
        background: #00ab61;
        left: -50% !important;
        right: 0 !important;
        bottom: -20px;
    }

.infoMercadona {
    border-left: 2px solid #04593C;
    padding-left: 2%;
    margin-left: 2%;
}


.infoContact {
    list-style-type: none;
    padding: 1% 10% 2% 10%;
    text-align: justify;
}

.infoContact ul{
    list-style-type: none;
}

.infoContact ul li {
    padding-top: 3%;
}

.infoContact ul li:first-child {
   padding-top: 0%;
}

.toast-header {
    border-color: #3E9D6F;
}

.toast {
    border-color: #3E9D6F;
}