@using System.Globalization
@model AdministrationViewModel;

@{
    ViewData["Title"] = "Administration";
}



@{
    DateTime dateDuJour = DateTime.Now;
}

<h1>Page d'administration</h1>
<i>Vous êtes sur cette page en tant qu'administrateur du site Mercadona.</i><br />
<i>Vous pouvez ajouter, éditer et supprimer des produits, des promotions & des catégories.</i>

    <div class="main-part">
        <div class="cpanel">
            <div class="icon-part">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
                <small>Produits</small>
                <p>@Model.NombreTotalProduits</p>
            </div>
            <div class="card-content-part">
            <a asp-controller="Administration" asp-action="ListProduitsAdminPage">Gestion des produits</a>
            </div>
        </div>
        <div class="cpanel cpanel-green">
            <div class="icon-part">
            <i class="fa fa-percent" aria-hidden="true"></i><br>
                <small>Promotions</small>
            <p>@Model.NombreTotalPromotionsEnCours</p>
            </div>
            <div class="card-content-part">
            <a asp-controller="Administration" asp-action="ListPromotionsPage">Gestion des promotions</a>
            </div>
        </div>
      
        <div class="cpanel cpanel-blue">
            <div class="icon-part">
                <i class="fa fa-tasks" aria-hidden="true"></i><br>
                <small>Catégories</small>
                <p>@Model.NombreTotalCategories</p>
            </div>
            <div class="card-content-part">
            <a asp-controller="Administration" asp-action="ListCategoriesPage">Gestion des catégories</a>
            </div>
        </div>
@*        <div class="cpanel cpanel-red">
            <div class="icon-part">
                <i class="fa fa-users" aria-hidden="true"></i><br>
                <small>Administrateurs</small>
                <p>3</p>
            </div>
            <div class="card-content-part">
                <a href="#">Gestion des administrateurs</a>
            </div>
        </div>*@
        
    </div>