@model ListCategoriesViewModel

@{


}
<div style="display:flex; justify-content:space-between;">
    <h1>Gestion des catégories</h1><h1 style="margin-right:50px">
        <form asp-controller="Administration" asp-action="CreateCategoriePage">
        <button type="submit" class="btn btn-success">Créer une catégorie</button>
    </form>
    </h1></div>


<div class="row">
    <div class="col-md-4">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Nom catégorie</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var categorie in Model.LstCategories)
                {
                    <tr>
                        <td style="font-weight:bold">@categorie.Libelle</td>
                        <td><a asp-controller="Administration" asp-action="EditCategoriePage" asp-route-idCategorie="@categorie.IdCategorie" class="btn btn-info float-right"><i class="fa-solid fa-screwdriver-wrench"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>