@{
    ViewData["Title"] = "Mentions légales";
}
<h1>@ViewData["Title"]</h1>
<br />
<div>
    <p>
        <strong>
            Le site "Mercadona" est édité par Mercadona
        </strong>
<ul>
        <li><strong>Siège social :</strong> Carrer Sant Llàtzer, 54, 17600 Figueres, Girona,Espagne</li>
        <li><strong>Téléphone :</strong> +34 972 67 20 13</li>
        <li><strong>E-mail :</strong> contact@merccadona.es</li>
        </ul>
    </p>
<p>
    <strong>Hébergeur du site :</strong>
        <ul>
            <li><strong>Microsoft Azure</strong></li>
            <li><strong>Microsoft Corporation, One Microsoft Way, Redmond, WA 98052-6399</strong></li>
            <li><strong>Téléphone :</strong> 08 25 82 78 29</li>
            <li><strong>E-mail :</strong>contact@Microsoft.com</li>
        </ul>
    </p><p>
        <strong>Propriété intellectuelle :</strong><br />
Le contenu (textes, images, vidéos, etc.) présenté sur le site "MERCADONA" est protégé par le droit d'auteur et la propriété intellectuelle. Toute reproduction, copie, distribution ou utilisation sans autorisation écrite est strictement interdite.
    </p><p>
        <strong>Données personnelles :</strong><br />
"Mercadona" s'engage à protéger la vie privée de ses visiteurs. Les données personnelles collectées sur le site ne seront utilisées que dans le cadre de la gestion des demandes et ne seront en aucun cas transmises à des tiers sans consentement préalable.
    </p><p>
        <strong>Cookies :</strong><br />
Ce site utilise des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.
    </p><p>
        <strong>Responsabilité :</strong><br />
    "Mercadona" s'efforce de fournir des informations précises et à jour sur son site, mais ne peut garantir leur exhaustivité ou leur exactitude. L'utilisation du site se fait donc à vos propres risques. "Mercadona" ne pourra être tenu responsable des dommages directs ou indirects résultant de l'utilisation du site ou des informations qui y sont présentées.<br />
    </p><p>
        <strong>Liens vers des sites tiers :</strong><br />
Le site "MERCADONA" peut contenir des liens vers des sites internet tiers. "Mercadona" n'a aucun contrôle sur le contenu de ces sites et ne pourra être tenu responsable de leur contenu ou de leur politique de confidentialité.
    </p><p>
        <strong>Modification des mentions légales :</strong><br />
"Mercadona" se réserve le droit de modifier les présentes mentions légales à tout moment sans préavis. Il est de votre responsabilité de vérifier régulièrement les mises à jour.
    </p><p>
        <strong>Dernière mise à jour :</strong> 30/08/2023
    </p><p>
        Si vous avez des questions concernant les mentions légales du site "MERCADONA", veuillez nous contacter à l'adresse e-mail contact@merccadona.es.
    <p>
</div>